<div id="no-results" class="text-center">
  <img src="assets/img/no-result.gif" alt="image" class="w-25">
  <h4 class="text-primary">Kongou could not find any results</h4>
  <span class="text-muted">She doesn't seem to be happy about it either...</span>
</div>

  