::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: var(--gray-dark);
}

::-webkit-scrollbar-thumb{
  background: var(--primary);
}
::-webkit-resizer {
  display: none;
}