<div class="row">
  <div class="col-3">
    <div class="card border-0">
      <div class="card-body bg-light">
        <h5 class="card-title text-primary">Select episodes <ui-switch (change)="toggleAll($event)" size="small" [disabled]="download.isDownloading" checked></ui-switch></h5>
        <table class="table table-borderless text-white card-text table-responsive">
          <thead>
            <th class="pl-0">#</th>
            <th class="pl-0">Download?</th>
            <th class="pl-0">Mirror</th>
          </thead>
          <tbody>
            <tr *ngFor="let episode of download.episodes; let last = last">
              <td class="pl-0">{{ episode.episode }}</td>
              <td class="pl-0">
                <div class="form-check form-check-inline">
                  <ui-switch [checked]="episode.download" (change)="toggleEpisode(episode, $event)" size="small" [disabled]="download.isDownloading"></ui-switch>
                </div>
              </td>
              <td class="pl-0">GoGo Server</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <div class="card border-0">
          <div class="card-body bg-light">
            <h5 class="card-title text-primary">Select destination</h5>
            <div class="row my-2">
              <div class="col-3 text-white">
                Anime Name
              </div>
              <div class="col-9 text-white">
                <input type="text" class="form-control bg-secondary border-0 text-white" [value]="download.animeName" id="animeName" (input)="download.animeName = $event.target.value;formatName()" [disabled]="download.isDownloading">
              </div>
            </div>
            <div class="row my-2">
              <div class="col-3 text-white">
                Download Directory
              </div>
              <div class="col-9">
                <div class="d-flex">
                  <input type="text" class="form-control d-inline bg-secondary border-0 text-white mr-2" [value]="download.downloadDir" id="downloadDir" (input)="download.downloadDir = $event.target.value" [disabled]="download.isDownloading">
                  <button class="btn btn-outline-primary d-inline mr-2 text-white" (click)="browseDir()" [disabled]="download.isDownloading">Browse</button>
                  <button class="btn btn-outline-primary d-inline text-white" (click)="scanDir()" [disabled]="download.isDownloading">Scan</button>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-3 text-white">
                Season
              </div>
              <div class="col-1 text-white">
                <input type="number" class="form-control bg-secondary border-0 text-white" [value]="download.season" step="1" min="1" id="animeSeason" (input)="download.season = $event.target.value;formatName()" [disabled]="download.isDownloading">
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-white">
                Filename example
              </div>
              <div class="col-9 text-white">
                {{ download.fileExample }}
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <button class="btn btn-primary d-inline" (click)="doDownload()" [disabled]="download.isDownloading">Download</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="card border-0">
          <div class="card-body bg-light">
              <h5 class="card-title text-primary">Progress</h5>
            <div class="row">
              <div class="col-3 text-white">
                Downloading Episode #:
              </div>
              <div class="col-9 text-white">
                <span *ngIf="download.progress.episode != null">{{ download.progress.episode.episode }}</span>
              </div>
            </div>
            <div class="row text-white">
              <div class="col-3">
                Filename:
              </div>
              <div class="col-9 text-white">
                <span *ngIf="download.progress.filename != null">{{ download.progress.filename }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-white">
                Progress:
              </div>
              <div class="col-8 my-auto pr-0">
                <div class="progress bg-secondary">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="download.progress.progress" [attr.aria-valuenow]="download.progress.progress" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-1 text-white">
                {{ download.progress.progress }}%
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-white">
                Bytes Transferred:
              </div>
              <div class="col-9 text-white">
                {{ byteConv(download.progress.recieved, false) }} / {{ byteConv(download.progress.total, false) }}
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-white">
                Status:
              </div>
              <div class="col-9 text-white">
                {{ download.status }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
