<summary class="card border-0 h-100 {{ serie.status }}" (click)="selectSerie(serie)">
  <img class="card-img-top" src="{{ serie.thumbnail }}" alt="Card image cap">
  <div class="card-body bg-light">
    <p class="card-text">
      <span class="text-white">{{ serie.name }}</span><br />
      <small class="text-muted">{{ serie.latest }}</small>
    </p>
  </div>
</summary>