<header>
  <div class="window-control bg-primary">
    <button class="btn btn-primary btn-sm float-right" (click)="exitApp()"><fa-icon [icon]="faTimes"></fa-icon></button>
    <button class="btn btn-primary btn-sm float-right" *ngIf="isMaximized" (click)="unmaximizeWindow()"><fa-icon [icon]="faMinusSquare" ></fa-icon></button>
    <button class="btn btn-primary btn-sm float-right" *ngIf="!isMaximized" (click)="maximizeWindow()"><fa-icon [icon]="faPlusSquare" ></fa-icon></button>
    <button class="btn btn-primary btn-sm float-right" (click)="minimizeWindow()"><fa-icon [icon]="faMinus"></fa-icon></button>
    <button class="btn btn-primary btn-sm float-right" (click)="openRepo()"><fa-icon [icon]="faCodeBranch"></fa-icon> Contribute</button>
    <button class="btn btn-primary btn-sm float-right" routerLink="/about"><fa-icon [icon]="faInfo"></fa-icon> About</button>
    <button class="btn btn-primary btn-sm float-right" (click)="sendFeedback()"><fa-icon [icon]="faCommentAlt"></fa-icon> News & Feedback</button>
    <button class="btn btn-primary btn-sm float-right" (click)="joinDiscord()"><fa-icon [icon]="faDiscord"></fa-icon> Join the Discord</button>

    <!-- user authentication buttons -->
    <button class="btn btn-primary btn-sm float-right" *ngIf="!userService.user.loggedin" (click)="loginModalComponent.openModal()"><fa-icon [icon]="faUser"></fa-icon> Member Login</button>
    
    <div class="btn-group float-right dropdown" dropdown *ngIf="userService.user.loggedin">
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle" aria-controls="dropdown-basic">
        <fa-icon [icon]="faUser"></fa-icon> {{ userService.user.username }} <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <!--<li role="menuitem"><a class="dropdown-item" routerLink="/watchlist">Watchlist</a></li>
        <li class="divider dropdown-divider"></li> -->
        <li role="menuitem"><a class="dropdown-item" (click)="userService.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
        
  <nav class="navbar navbar-expand navbar-dark bg-gray-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <span class="text-primary font-weight-bold">G</span>ogoDl
      </a>
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#">Discover</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/recently-downloaded">Recent</a></li>
        <li [hidden]="!downloads.length" class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Downloads
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <div *ngFor="let download of downloads; let index = index">
              <li role="menuitem"><a class="dropdown-item" (click)="openTab(index)">{{ download.serie.name }}</a></li>
            </div>
          </ul>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-2">
        <div class="input-group">
          <input 
            class="form-control bg-secondary border border-top-0 border-left-0 border-right-0 border-primary text-center" 
            type="search" 
            placeholder="Search" 
            aria-label="Search" 
            #search 
            (keyup)="searchChange(search.value)" 
            tooltip="Search for an anime"
          />
        </div>
      </form>
      <button class="btn btn-primary" (click)="doDonate()">
        <fa-icon [icon]="faDonate"></fa-icon> Donate
      </button>
    </div>
  </nav>
</header>

<app-donate-modal *ngIf="nagDonation"></app-donate-modal>
<!-- <app-waf-captcha *ngIf="_9anime.isWafActive" [siteKey]="_9anime.siteKey"></app-waf-captcha> -->
<app-login-modal></app-login-modal>
<app-update-modal></app-update-modal>

<main [hidden]="!isBusy" class="container-fluid bg-gray-dark">
  <app-loading-spinner></app-loading-spinner>
</main>

<!--
<main [hidden]="isBusy || !_9anime.isBanned" class="container-fluid bg-gray-dark">
  <app-banned></app-banned>
</main>
-->

<main [hidden]="isBusy" class="container-fluid bg-dark">
  <router-outlet></router-outlet>
</main>