<ng-template #updateModal class="modal-lg">
  <!-- Modal Header -->
  <div class="modal-header bg-gray-dark border-0">
    <h4 class="modal-title text-primary">Update available</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <fa-icon [icon]="faTimes" class="text-primary"></fa-icon>
    </button>
  </div>
  <!-- Modal body -->
  <div class="modal-body bg-secondary text-primary">
    You appear to be using an outdated version of GogoDl.<br />
    Version {{ remoteVersion }} has been released while you are using version {{ localVersion }}. <br />
    The maintainers of GogoDl will not provide any support on this version anymore if something breaks, so we urge you to update as soon as possible to prevent unexpected issues.<br />
    <br />
    <h5>What has changed?</h5>
    {{ description }}

    <ul class="p-3 bg-gray-dark">
      <li *ngFor="let entry of changes">{{ entry.change }}</li>
    </ul>
  </div>
  <!-- Modal footer -->
  <div class="modal-footer bg-gray-dark border-0">
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Yea no, I'm fine.</button>
    <button type="button" class="btn btn-success" (click)="update()">Let me do that right now!</button>
  </div>
</ng-template>