@import 'themes/default';
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr-bs4-alert';

@import 'components/scrollbar';
@import 'components/toast';
@import 'components/window-control';

/* You can add global styles to this file, and also import other style files */
html, body {
  overflow: hidden;
  height: 100%;
}

main {
  height: 100%;
  padding-top: 26px;
  overflow-y: scroll;
  position: absolute;

  /**  
   * Arguably the most hideous fix for an issue
   * Check: https://stackoverflow.com/questions/58993756/scrollbar-too-long-due-to-bootstrap-4-navbar/58995740#58995740
   */
  border-bottom: 87px solid #ccc;
}

span {
  &.switch {
    border-radius: 0 !important;
    border: 0px !important;

    background-color: var(--gray-dark) !important;
    margin-bottom: -5px !important;

    &.checked{
      background-color: var(--primary) !important;
    }

    &-small {
      width: 43px !important;

      &.checked {
        small {
          left: 33px !important;
        }
      }
      small {
        width: 10px !important;
      }
    }

    small {
      border-radius: 0px !important;
    }
  }
}

.dropdown {
  .dropdown-menu {
    background: var(--dark);

    a {
      color: #FFFFFF;

      &:hover {
        background:var(--secondary);
        color: #FFFFFF;
      }
    }
  }
}